
<head>
    <link rel="stylesheet" type="text/css" href="/css/Home.css" />
</head>


<body>
    
    <div class="container">
        <h1>Welcome!! - @ViewBag.name</h1>

        <p>You are now Logged in</p>
      
        <a asp-controller="Home" asp-action="Entry" class="btn btn-primary">ADD</a>
        <a asp-controller="Home" asp-action="Logout" class="btn btn-danger text--center">Signout</a>
    </div>
  

</body>